@using StroopTest.Extensions;

<div class="home centered">
    <p>Press space bar to start...</p>
</div>

<script src="~/js/stroop.js"></script>
<script type="text/javascript">
    var startUrl = '@Url.GetAction("Start", ViewContext.RouteData.Values["Controller"].ToString())';
</script>
