@using StroopTest.Extensions;

@model ResultsModel

<div class="centered">

    <div class="row">

        <div class="col-md-6">
            <p><strong>Congruent Words</strong></p>
            @Html.Partial("_Results", Model.CongruentWords)
        </div>

        <div class="col-md-6">
            <p><strong>Incongruent Words</strong></p>
            @Html.Partial("_Results", Model.IncongruentWords)
        </div>

    </div>

    <hr />

    <div class="row">
        <button id="btnRestart" class="btn">Restart</button>
    </div>

</div>


<script type="text/javascript">
var indexUrl = '@Url.GetAction("Index", "Home")';
</script>

@section Scripts
{
    <script src="~/js/finish.js"></script>
}
