@model ResultsModel

<div class="centered">

    <span class="col-md-4">
        <p><strong>Congruent Words</strong></p>
        @Html.Partial("_Results", Model.CongruentWords);
    </span>

    <span class="col-md-4">
        <p><strong>Incongruent Words</strong></p>
        @Html.Partial("_Results", Model.IncongruentWords);
    </span>

    <span class="col-md-4">
        <p><strong>Neutral Words</strong></p>
        @Html.Partial("_Results", Model.NeutralWords);
    </span>

</div>