body {
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
}

.home {
    min-width: 400px;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.word {
    font-size: 128px;
    text-align: center;
}

.title {
    font-size: 128px;
}

.infos {
    font-size: 68px;
}

.invite {
    font-size: 42px;
    margin: 1em 0 0;
}